<?xml version='1.0' encoding='utf-8'?>
<plugin id="firebase-debugviewIOS"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>firebase-debugviewIOS</name>
  <license>MIT</license>
  
    <platform name="ios">
	
      <hook type="before_compile" src="hooks/edit_build_json.js"/>
	
  </platform>

</plugin>
